@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Bree Serif', serif;
    overflow: hidden;
}

.wrapper, portfolio{
    width: 100vw;
    height: 100vh;
    background-color: rgb(167, 164, 160);
    color: #fff;
    overflow-y: auto;
}

.brand span{
    color: orange;
}

.menu a{
    color: #fff;
    text-decoration: none;
    padding: 2em;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 2em;
    background-color: black;
}

.brand {
    margin-top: -7px;
}

.brand a{
    text-decoration: none;
    color: #fff;
}

.menu li{
    list-style: none;
}

.menu {
    display: flex;
    width: 50%;
    justify-content: space-around;
}

.menu .select{
    color: orange;
}

.menu a:hover {
    background-color: rgb(202, 22, 82);
    color: black;
    transition: ease-in .2s;
}

.principal {
    margin: 0 auto;
    width: 80vw;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
}

.principal .info-content p{
    text-align: justify;
}

h1 {
    font-size: 2em;
}

span {
    color: black;
}

.maintabla {
    padding-top: 20px;
    margin: 0 auto;
    width: 80vw;
    height: 80vh;
    
}

.tabla {
    width: 100%;
    background-color: rgb(255, 255, 255);
    text-align: left;
    border-collapse: collapse;
}
thead th{
    background-color: black;
    color: white;
}

th, td {
    padding: 12px;
    border: 1px solid black;
    color: black;
}

.principal img{
    padding-left: 50px;
    width: 450px;
    height: 420px;
}

h3 {
    text-align: center;
    padding-top: 20px;
    font-size: 2rem;
}

#piePrint {
    text-align: center;
    background-color: black;
    margin: auto;
    padding: 2em;
}

.contact{
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    padding: 100px;
    background-color: rgb(32, 30, 30);
}

.contact h2{
    text-align: center;
}

.contact-info {
    display: flex;
    flex-direction: column;
}

.contact-info input{
    padding: 10px 20px;
    margin-bottom: 1em;
    background: none;
    border: none;
    border-bottom: 3px solid orange;
    color: #fff;
}

.contact-info input::placeholder{
    color: #fff;
}

.contact-info textarea {
    height: 150px;
    background: none;
    color: orange;
    padding: 2em;
    border-color: orange;
    border-bottom: 3px solid orange;
}

.contact-info button{
    background-color: orange;
    border: none;
    color:white;
}

.container-slider {
    background-color: rgba(255, 151, 53, 0.788);
    width: 100vw;
    height: 100vh;
    /*rgba(201, 125, 26, 0.781)*/
}

.slider {
    width: 700px;
    height: auto;
    margin:50px auto 0;
    overflow: hidden;
    background-color: rgb(32, 30, 30);
}

.slider ul {
    display: flex;
    padding: 0;
    width: 400%;

    animation: slide 16s infinite alternate ease-in-out;
}

.slider li {
    list-style: none;
    width: 100%;
}

.slider img{
    width: 100%;
}

.slider p{
    text-align: center;
    text-shadow: 0cm 2cm 2cm;
}

.devicon-github-original-wordmark {
    font-size: 4em;
}

#piePrint a{
    color: white;
    text-decoration: none;
}

.portfolio{
    background-color: rgb(32, 30, 30);
}

.portfolio-headings{
    padding: 5em;
    width: 100vw;
}

.portfolio-headings h2{
    font-size: 3em;
}

.portfolio .container {
    width: 80vw;
    height: 80vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.card {
    width: 300px;
    height: 400px;
    background-color: rgb(197, 136, 21);
    margin: 1em;
}

.card_img{
    width: 100%;
    height: 150px;
    background-image: url(../imgs/Projects.jpg);
    background-size: cover;
    border: 3px solid orange;
}

.card-title{
    padding: 20px;
    text-align: center;
}

.projects_links{
    display: flex;
    justify-content: space-evenly;
}


.projects_links a{
    color:white;
    text-decoration: none;
}

.projects_links i{
    font-size: 2em;
}

@keyframes slide {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}

